*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
}

body {
  font-family: 'Lexend deca', 'Space-mono', 'Arial';
  margin: 0;
}

img {
  vertical-align: middle;
} 

a {
  list-style-type: none;
  text-decoration: none;
}