.girl {
    
    padding-top: 400px;
    
    &__container {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    
    &__wrapper {
        max-width: 445px;
        width: 100%;
    }
    
    &__header {
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #495567;
        
    }
    
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        margin-top: 24px;
        margin-bottom: 40px;
        color: #939CAA;
    }
    
    &__link {
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        padding: 14px 44px;
        background-color: #FCB72B;
        display: inline-block;
        margin: 0;
        &:hover {
            box-shadow: 0 0 0 2px #FCB72B;
            color: #FCB72B;
            background-color: inherit;
        }
        &:active {
            opacity: 0.6;
        }
    }
    
    &__picture{
        box-shadow: 535px 0px 0 #E5ECF4;
        border-radius: 50%;
        
    }
    
}

@media only screen and (max-width:930px) { 
    
    .girl {
        &__container {
            justify-content: center;
        }
    }
    &__wrapper {
        position: relative;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        
    }
    
    &__picture{
        position: absolute;
        bottom: 186px;
        left: 25%;
    }
}
@media only screen and (max-width:870px) { 
    
    .girl {
        
        &__picture{
            bottom: calc(195px);
            left: calc(70px);
        }
    }
}
@media only screen and (max-width:480px) { 
    
    .girl {
        
        &__picture{
            bottom: 205px;
            left: -3%;
        }
    }
}
@media only screen and (max-width:445px) { 
    
    .girl {
        padding-top: 250px;
        
        &__text {
            font-size: 32px;
            line-height: 32px;
        }
        
        &__link {
            font-size: 15px;
            line-height: 25px;
        }
        
        &__picture{
            bottom: 315px;
            width: 311px;
            height: 311px;
            left: 10px;
        }
    }
}
@media only screen and (max-width:396px) { 
    
    .girl {
        padding-top: 250px;
        &__text {
            font-size: 32px;
            line-height: 32px;
        }
        
        &__link {
            font-size: 15px;
            line-height: 25px;
        }
        
        &__picture{
            bottom: 335px;
            width: 311px;
            height: 311px;
        }
    }
}
@media only screen and (max-width:378px) { 
    
    .girl {
        padding-top: 250px;
        
        &__text {
            font-size: 32px;
            line-height: 32px;
        }
        
        &__link {
            font-size: 15px;
            line-height: 25px;
        }
        
        &__picture{
            bottom: 363px;
            width: 311px;
            height: 311px;
        }
    }
}
@media only screen and (max-width:326px) { 
    
    .girl {
        
        &__picture{
            bottom: 380px;
            left: -8px;
        }
    }
}